header {
	background-color: #21252a;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
    overflow: hidden;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

.header-container {
	float: left;
	width: 50%;
	height: 100%;
}

.header-container-transparent {
	height: auto;
	background: -moz-linear-gradient(top,  rgba(26,29,33,0) 0%, rgba(26,29,33,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(26,29,33,0) 0%,rgba(26,29,33,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(26,29,33,0) 0%,rgba(26,29,33,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001a1d21', endColorstr='#1a1d21',GradientType=0 ); /* IE6-9 */

}

.header-container:nth-child(2) {
	background-image: url(img/layer-31.png);
	background-size: cover;
}

.header-container__column1 {
	float: right;
	width: 480px;
}

.header-container__column2 {
	float: left;
	width: 480px;
}

h1 {
	font: 500 60px 'Roboto';
	color: #fff;
	text-transform: uppercase;
	margin-top: 15%;
}

.header-container h3 {
	font: 500 24px 'Roboto';
	color: #68c3a3;
	text-transform: uppercase;
	margin: 5% auto;
}

.header-container p {
	font: 200 12px 'Roboto';
	color: #fff;
	width: 90%;
	line-height: 28px;
}

.about-me__signature {
	margin: 5% auto;
}

.button-container {
	font-size: 0;
	margin-bottom: 15%;
}

.button-container img {
	margin-right: 5px;
}

.about-me__message-button {
	box-sizing: content-box;
	display: inline-block;
	background-color: #52b3d9;
	font: 500 14px 'Roboto';
	color: #fff;
	text-transform: uppercase;
	width: 200px;
	line-height: 57px;
	text-align: center;
	margin-right: 3%;
	margin-bottom: 3%;
	border-radius: 5px;
	border-bottom: 3px solid #4aa0c2;
}

.about-me__download-button {
	box-sizing: content-box;
	display: inline-block;
	background-color: #68c3a3;
	font: 500 14px 'Roboto';
	color: #fff;
	text-transform: uppercase;
	width: 200px;
	line-height: 57px;
	text-align: center;
	border-radius: 5px;
	border-bottom: 3px solid #4eb28f;
}

.profile {
	font: 200 12px 'Roboto';
	color: #fff;
	margin-top: 90%;
	margin-bottom: 5%;
}

.profile_column {
	float: left;
	width: 40%;
	margin-left: 10%;
}

.profile_column__element {
	margin-bottom: 10px;
}

.social-media-menu {
	padding-left: 10%;
	margin-bottom: 15%;
}

.social-media-menu__item {
	margin-right: 5px;
}

.menu {
	background-color: #fff;
	border-bottom: 3px double #eee;
	z-index: 1;
	height: 50px;
	text-align: center;
}

.menu__item {
	display: inline-block;
	font: 500 14px 'Roboto';
	text-transform: uppercase;
	line-height: 50px;
	padding: 0 1%;
	color: #282828;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

.menu__item:hover {
	color: #fff;
	background-color: #68c3a3;
	border-bottom: 3px double #55ae8f;
	border-right: 1px solid #55ae8f;
	border-left: 1px solid #55ae8f;
}

.section__title2_light {
	font: 500 50px 'Roboto';
	color: #2c3e50;
	text-transform: uppercase;
	text-align: center;
	margin-top: 5%;
}

.divider {
	font-size: 0;
	text-align: center;
	width: 40px;
	margin: 3% auto;
	background-color: #fff;
}

.divider:after {
	content: '';
	position: relative;
	display: block;
	border-bottom: 1px solid #e1e1e1;
	top: -5px;
	left: -29px;
	z-index: -1;
	width: 100px;
}

.divider__diamond {
	display: inline-block;
	width: 8px;
	height: 8px;
	background-color: #e1e1e1;
	-webkit-transform: rotate(-45deg); /* Chrome y Safari */
	-moz-transform: rotate(-45deg); /* Firefox */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
	-o-transform: rotate(-45deg); /* Opera */
	border-radius: 1px;
	margin: 0 3px;
}

.section__title3_light {
	font: 500 24px 'Roboto';
	color: #2c3e50;
	text-transform: uppercase;
	text-align: center;
	margin: 3% 0;
}

.about-me-section__text {
	color: #282828;
	font: 200 12px 'Roboto';
	line-height: 28px;
	width: 65%;
	margin: 0 auto;
	text-align: center;
}

.skills-list {
	font-size: 1;
	text-align-last: justify;
	margin: 10% 0;
}

.skills-list-item__border {
	display: inline-block;
	font: 500 14px 'Roboto';
	box-sizing: border-box;
	width: 170px;
	height: 170px;
	border-top: 1px solid #eee;
	border-right: 1px solid #eee;
	border-left: 3px double #eee;
	border-bottom: 3px double #eee;
	border-radius: 10px;
	text-transform: uppercase;
	vertical-align: middle;
	text-align-last: center;
	line-height: 170px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-o-transform: rotate(-45deg);
}

.skills-list__item {
	display: inline-block;
	vertical-align: middle;
	line-height: 1em;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-o-transform: rotate(45deg);
}

.skills-list-item__icon {
	display: block;
	margin: 0 auto 20px;
}

.skills-list-item__name {
	display: block;
	margin: 0 auto;
}

.timeline-list__item_left {
	display: table;
}

.timeline-list-item_left__block {
	display: table-cell;
	background-color: #fff;
	width: 42%;
	border: 1px solid #eee;
	border-bottom: 3px double #eee;
	padding: 3% 3%;
	box-sizing: border-box;
	position: relative;
}

.timeline-list-item_left__block:before {
	content: '';
	display: block;
	position: absolute;
	width: 25px;
	height: 25px;
	border: 1px solid #eee;
	left: 96%;
	top: 19%;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-o-transform: rotate(-45deg);
	border-bottom: 3px double #eee;
	z-index: 1;
	background-color: #fff;
}

.timeline-list-item_left__block:after {
	content: '';
	display: block;
	position: absolute;
	width: 24px;
	height: 40px;
	background-color: #fff;
	left: 94%;
	top: 16%;
	z-index: 1;
}

.timeline-list-item_left__block:hover {
	background-color: #68c3a3;
	border-color: #57b393;
}

.timeline-list-item_left__block:hover:before {
	background-color: #68c3a3;
	border-color: #57b393;
}

.timeline-list-item_left__block:hover:after {
	background-color: #68c3a3;
}

.timeline-list-item_left__block:hover .timeline-list-item__title,
.timeline-list-item_left__block:hover .timeline-list-item__subtitle,
.timeline-list-item_left__block:hover .timeline-list-item__description {
	color: white;
}

.timeline-list-item_left__block:hover + .timeline-list-item__date-and-line-block .timeline-list-item_date {
	color: #68c3a3;
}

.timeline-list-item_left__block:hover + .timeline-list-item__date-and-line-block .timeline-list-item__line {
	background-color: #68c3a3;
}

.timeline-list-item__date-and-line-block {
	position: relative;
	display: table-cell;
	width: 16%;
	text-align: center;
	overflow: hidden;
}

.timeline-list-item__line {
	position: absolute;
	display: block;
	width: 3px;
	background-color: #e1e1e1;
	margin: 0 auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}

.timeline-list-item__title {
	color: #282828;
	font: 500 20px 'Roboto';
	margin-bottom: 2%;
}

.timeline-list-item__subtitle {
	color: #2c3e50;
	font: 500 12px 'Roboto';
}

.timeline-list-item__description {
	color: #282828;
	font: 200 12px 'Roboto';
	margin-top: 2%;
	line-height: 28px;
}

.timeline-list-item_date {
	position: relative;
	top: 10px;
	display: block;
	color: #2c3e50;
	font: 500 18px 'Roboto';
	background-color: #fff;
	line-height: 30px;
}

.timeline-list__item_right {
	display: table;
}

.timeline-list-item__invisible_right_column,
.timeline-list-item__invisible_left_column {
	display: table-cell;
	width: 42%;
}

.timeline-list-item_right__block {
	display: table-cell;
	background-color: #fff;
	width: 42%;
	border: 1px solid #eee;
	border-bottom: 3px double #eee;
	padding: 3% 3%;
	box-sizing: border-box;
	position: relative;
}

.timeline-list-item_right__block:before {
	content: '';
	display: block;
	position: absolute;
	width: 25px;
	height: 25px;
	border: 1px solid #eee;
	right: 96%;
	top: 19%;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-o-transform: rotate(-45deg);
	border-left: 3px double #eee;
	z-index: 1;
	background-color: #fff;
}

.timeline-list-item_right__block:after {
	content: '';
	display: block;
	position: absolute;
	width: 24px;
	height: 40px;
	background-color: #fff;
	right: 94%;
	top: 16%;
	z-index: 1;
}

.timeline-list-item_right__block:hover {
	background-color: #68c3a3;
	border-color: #57b393;
}

.timeline-list-item_right__block:hover:before {
	background-color: #68c3a3;
	border-color: #57b393;
}

.timeline-list-item_right__block:hover:after {
	background-color: #68c3a3;
}

.timeline-list-item_right__block:hover .timeline-list-item__title,
.timeline-list-item_right__block:hover .timeline-list-item__subtitle,
.timeline-list-item_right__block:hover .timeline-list-item__description {
	color: white;
}

.timeline-list-item__date-and-line-block .timeline-list-item_date + .timeline-list-item_right__block:hover {
	color: #68c3a3;
}

.timeline-list-item_left__block:hover + .timeline-list-item__date-and-line-block .timeline-list-item__line {
	background-color: #68c3a3;
}

.timeline-list__item {
	position: relative;
}

.timeline-list .timeline-list__item:first-child:before {
	content: '';
	display: block;
	width: 8px;
	height: 8px;
	background-color: #e1e1e1;
	position: absolute;
	z-index: 3;
	right: 49.5%;
	border-radius: 2px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-o-transform: rotate(-45deg);
}

.timeline-list .timeline-list__item:last-child:after {
	content: '';
	display: block;
	width: 8px;
	height: 8px;
	background-color: #e1e1e1;
	position: absolute;
	z-index: 3;
	right: 49.5%;
	top: 100%;
	border-radius: 2px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-o-transform: rotate(-45deg);
}

.timeline-list .timeline-list__item:last-child {
	margin-bottom: 6%;
}
