header {
	background-color: #21252a;
	display: table;
	width: 100%;
}

@font-face {
	font-family: Awesome
	src: url(fonts/fontawesome-webfont.ttf);
}

.section {
	padding: 6% 20px;
	box-sizing: border-box;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
    overflow: hidden;
}

@media screen and (min-width: 960px) {
	.container {
		max-width: 960px;
		margin: 0 auto;
	}
}

@media screen and (min-width: 1200px) {
	.container {
		max-width: 1200px;
		margin: 0 auto;
	}
}

.header-container {
	width: 50%;
	display: table-cell;
	position: relative;
}

.header-container-transparent {
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	background: -moz-linear-gradient(top,  rgba(26,29,33,0) 0%, rgba(26,29,33,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(26,29,33,0) 0%,rgba(26,29,33,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(26,29,33,0) 0%,rgba(26,29,33,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001a1d21', endColorstr='#1a1d21',GradientType=0 ); /* IE6-9 */
	z-index: 0;
}

.header-container:nth-child(2) {
	background-image: url(img/layer-31.png);
	background-size: cover;
}

.header-container__column1 {
	position: relative;
	float: right;
	max-width: 480px;
	margin-top: 10%;
	margin-bottom: 10%;
	padding: 0 20px;
	z-index: 1;
	box-sizing: border-box;
}

@media screen and (min-width: 1200px) {
	.header-container__column1 {
		max-width: 600px;
	}
}

.header-container__column2 {
	position: relative;
	float: left;
	max-width: 480px;
	z-index: 1;
	padding: 0 20px;
	box-sizing: border-box;
}

@media screen and (min-width: 1200px) {
	.header-container__column2 {
		max-width: 600px;
	}
}

h1 {
	font: 500 60px 'Roboto';
	color: #fff;
	text-transform: uppercase;
}

.header-container h3 {
	font: 500 24px 'Roboto';
	color: #68c3a3;
	text-transform: uppercase;
	margin: 5% auto;
}

.header-container p {
	font: 200 12px 'Roboto';
	color: #fff;
	width: 90%;
	line-height: 28px;
}

.about-me__signature {
	margin: 5% auto;
}

.button-container {
	font-size: 0;
	margin-bottom: 15%;
}

.button-container img {
	margin-right: 5px;
}

.about-me__message-button {
	box-sizing: content-box;
	display: inline-block;
	background-color: #52b3d9;
	font: 500 14px 'Roboto';
	color: #fff;
	text-transform: uppercase;
	width: 200px;
	line-height: 57px;
	text-align: center;
	margin-right: 3%;
	margin-bottom: 3%;
	border-radius: 5px;
	border-bottom: 3px solid #4aa0c2;
}

.about-me__download-button {
	box-sizing: content-box;
	display: inline-block;
	background-color: #68c3a3;
	font: 500 14px 'Roboto';
	color: #fff;
	text-transform: uppercase;
	width: 200px;
	line-height: 57px;
	text-align: center;
	border-radius: 5px;
	border-bottom: 3px solid #4eb28f;
}

.profile {
	font: 200 12px 'Roboto';
	color: #fff;
	margin-top: 80%;
	margin-bottom: 5%;
}

.profile_column {
	float: left;
	width: 48%;
}

.profile_column:first-child {
	margin-right: 4%;
}

.profile_column__element {
	margin-bottom: 10px;
}

.social-media-menu {
	padding-left: 5%;
	margin-bottom: 15%;
}

.social-media-menu__item {
	margin-right: 5px;
}

.menu {
	background-color: #fff;
	border-bottom: 3px double #eee;
	z-index: 1;
	height: 50px;
	text-align: center;
}

.menu__item {
	display: inline-block;
	font: 500 14px 'Roboto';
	text-transform: uppercase;
	line-height: 50px;
	padding: 0 1%;
	color: #282828;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}

.menu__item:hover {
	color: #fff;
	background-color: #68c3a3;
	border-bottom: 3px double #55ae8f;
	border-right: 1px solid #55ae8f;
	border-left: 1px solid #55ae8f;
}

.section__title2_light {
	font: 500 50px 'Roboto';
	color: #2c3e50;
	text-transform: uppercase;
	text-align: center;
}

.divider_light,
.divider_dark {
	font-size: 0;
	text-align: center;
	width: 100px;
	margin: 3% auto;
}

.divider__part {
	display: inline-block;
	width: 33.33%;
	height: 12px;
	line-height: 12px;
	vertical-align: middle;
}

.divider_line {
	display: inline-block;
	width: 100%;
	height: 1px;
	background-color: #e1e1e1;
}

.divider__diamond {
	display: inline-block;
	width: 8px;
	height: 8px;
	background-color: #e1e1e1;
	-webkit-transform: rotate(-45deg); /* Chrome y Safari */
	-moz-transform: rotate(-45deg); /* Firefox */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
	-o-transform: rotate(-45deg); /* Opera */
	border-radius: 1px;
	margin: 0 3px;
	vertical-align: middle;
}

.divider_dark .divider__part .divider__diamond,
.divider_dark .divider__part .divider_line {
	background-color: #3a4149;
}

.section__title3_light {
	font: 500 24px 'Roboto';
	color: #2c3e50;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
}

.about-me-section__text {
	color: #282828;
	font: 200 12px 'Roboto';
	line-height: 28px;
	width: 65%;
	margin: 0 auto;
	margin-bottom: 5%;
	text-align: center;
}

.skills-list {
	font-size: 1;
	text-align: justify;
	margin-top: 10%;
	margin-bottom: 5%;
	padding: 0 3.45%;
}

.skills-list:before {
	content: '';
    display: block;
    width: 100%;
    height: 0;
}

.skills-list:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
}

.skills-list-item__border {
	display: inline-block;
	font: 500 14px 'Roboto';
	box-sizing: border-box;
	width: 170px;
	height: 170px;
	border-top: 1px solid #eee;
	border-right: 1px solid #eee;
	border-left: 3px double #eee;
	border-bottom: 3px double #eee;
	border-radius: 10px;
	text-transform: uppercase;
	vertical-align: middle;
	text-align: center;
	line-height: 170px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-o-transform: rotate(-45deg);
}

.skills-list__item {
	display: inline-block;
	vertical-align: middle;
	line-height: 1em;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-o-transform: rotate(45deg);
}

.skills-list-item__icon {
	display: block;
	margin: 0 auto 20px;
}

.skills-list-item__name {
	display: block;
	margin: 0 auto;
}

.timeline-list {
	margin-bottom: 5%;
}

.timeline-list__item {
	position: relative;
}

.timeline-list-item_left__block {
	float: left;
	background-color: #fff;
	width: 40%;
	border: 1px solid #eee;
	border-bottom: 3px double #eee;
	padding: 3% 3%;
	box-sizing: border-box;
}

.timeline-list-item_left__block:before {
	content: '';
	display: block;
	position: absolute;
	width: 25px;
	height: 25px;
	border: 1px solid #eee;
	left: 39.4%;
	top: 30px;
	-webkit-transform: rotate(-45deg) translateX(-50%);
	-moz-transform: rotate(-45deg) translateX(-50%);
	-o-transform: rotate(-45deg) translateX(-50%);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	border-bottom: 3px double #eee;
	z-index: 2;
	background-color: #fff;
}

.timeline-list-item_left__block:after {
	content: '';
	display: block;
	position: absolute;
	width: 24px;
	height: 40px;
	background-color: #fff;
	left: 39.9%;
	top: 35px;
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	z-index: 3;
}

.timeline-list-item-left__date-and-line-block {
	position: absolute;
	top: 0;
	bottom: 0;
	float: left;
	width: 20%;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
}

.timeline-list-item_right__block {
	float: right;
	background-color: #fff;
	width: 40%;
	border: 1px solid #eee;
	border-bottom: 3px double #eee;
	padding: 3% 3%;
	box-sizing: border-box;
}

.timeline-list-item_right__block:before {
	content: '';
	display: block;
	position: absolute;
	width: 25px;
	height: 25px;
	border: 1px solid #eee;
	right: 39.4%;
	top: 50px;
	-webkit-transform: rotate(-45deg) translateX(50%);
	-moz-transform: rotate(-45deg) translateX(50%);
	-o-transform: rotate(-45deg) translateX(50%);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	border-left: 3px double #eee;
	z-index: 2;
	background-color: #fff;
}

.timeline-list-item_right__block:after {
	content: '';
	display: block;
	position: absolute;
	width: 24px;
	height: 35px;
	background-color: #fff;
	right: 39.9%;
	top: 35px;
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-o-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	z-index: 3;
}

.timeline-list-item-right__date-and-line-block {
	position: absolute;
	top: 0;
	bottom: 0;
	float: right;
	width: 20%;
	text-align: center;
	left: 50%;
	transform: translateX(-50%);
}

.timeline-list-item_date {
	position: relative;
	margin-top: 40px;
	display: block;
	color: #2c3e50;
	font: 500 18px 'Roboto';
	background-color: #fff;
	line-height: 30px;
	z-index: 1;
}

.timeline-list-item__line {
	position: absolute;
	display: block;
	width: 3px;
	background-color: #e1e1e1;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -2px;
	z-index: 0;
}

.timeline-list__item:first-child .timeline-list-item__line:before {
	content: '';
	display: block;
	width: 9px;
	height: 9px;
	background-color: #e1e1e1;
	border-radius: 2px;
	margin-left: -3px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-o-transform: rotate(-45deg);
}

.timeline-list__item:last-child .timeline-list-item-left__date-and-line-block:after,
.timeline-list__item:last-child .timeline-list-item-right__date-and-line-block:after {
	content: '';
	display: block;
	width: 9px;
	height: 9px;
	background-color: #e1e1e1;
	border-radius: 2px;
	position: absolute;
	left: 50%;
	margin-left: -5px;
	bottom: 0%;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-o-transform: rotate(-45deg);
}

.timeline-list-item__title {
	color: #282828;
	font: 500 20px 'Roboto';
	margin-bottom: 2%;
}

.timeline-list-item__subtitle {
	color: #2c3e50;
	font: 500 12px 'Roboto';
}

.timeline-list-item__description {
	color: #282828;
	font: 200 12px 'Roboto';
	margin-top: 2%;
	line-height: 28px;
}

.timeline-list-item_left__block:hover,
.timeline-list-item_right__block:hover {
	background-color: #68c3a3;
	border-color: #57b393;
}

.timeline-list-item_left__block:hover:before,
.timeline-list-item_right__block:hover:before {
	background-color: #68c3a3;
	border-color: #57b393;
}

.timeline-list-item_left__block:hover:after,
.timeline-list-item_right__block:hover:after {
	background-color: #68c3a3;
}

.timeline-list-item_left__block:hover .timeline-list-item__title,
.timeline-list-item_left__block:hover .timeline-list-item__subtitle,
.timeline-list-item_left__block:hover .timeline-list-item__description,
.timeline-list-item_right__block:hover .timeline-list-item__title,
.timeline-list-item_right__block:hover .timeline-list-item__subtitle,
.timeline-list-item_right__block:hover .timeline-list-item__description  {
	color: white;
}

.timeline-list-item_left__block:hover + .timeline-list-item-left__date-and-line-block .timeline-list-item_date {
	color: #68c3a3;
}

.timeline-list-item_left__block:hover + .timeline-list-item-left__date-and-line-block .timeline-list-item__line {
	background-color: #68c3a3;
}

.timeline-list-item_right__block:hover + .timeline-list-item-right__date-and-line-block .timeline-list-item_date {
	color: #68c3a3;
}

.timeline-list-item_right__block:hover + .timeline-list-item-right__date-and-line-block .timeline-list-item__line,
.timeline-list-item_right__block:hover + .timeline-list-item-right__date-and-line-block:after,
.timeline-list-item_right__block:hover + .timeline-list-item-right__date-and-line-block .timeline-list-item__line:before,
.timeline-list-item_left__block:hover + .timeline-list-item-left__date-and-line-block:after,
.timeline-list-item_left__block:hover + .timeline-list-item-left__date-and-line-block .timeline-list-item__line:before {
	background-color: #68c3a3;
}

/*.timeline-list {
	margin-bottom: 5%;
}

.timeline-list__item_left {
	position: relative;
}

.timeline-list-item_left__block {
	float: left;
	background-color: #fff;
	width: 400px;
	border: 1px solid #eee;
	border-bottom: 3px double #eee;
	padding: 3% 3%;
	box-sizing: border-box;
	position: relative;
}

.timeline-list-item_left__block:before {
	content: '';
	display: block;
	position: absolute;
	width: 25px;
	height: 25px;
	border: 1px solid #eee;
	left: 384px;
	top: 40px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-o-transform: rotate(-45deg);
	border-bottom: 3px double #eee;
	z-index: 2;
	background-color: #fff;
}

.timeline-list-item_left__block:after {
	content: '';
	display: block;
	position: absolute;
	width: 24px;
	height: 40px;
	background-color: #fff;
	left: 374px;
	top: 35px;
	z-index: 3;
}

.timeline-list-item-left__date-and-line-block {
	position: absolute;
	width: 160px;
	text-align: center;
	left: 50%;
	margin-left: -80px;
	top: 0;
	bottom: 0;
}

.timeline-list-item__title {
	color: #282828;
	font: 500 20px 'Roboto';
	margin-bottom: 2%;
}

.timeline-list-item__subtitle {
	color: #2c3e50;
	font: 500 12px 'Roboto';
}

.timeline-list-item__description {
	color: #282828;
	font: 200 12px 'Roboto';
	margin-top: 2%;
	line-height: 28px;
}

.timeline-list-item__line {
	position: absolute;
	display: block;
	width: 3px;
	background-color: #e1e1e1;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -2px;
	z-index: 0;
}

.timeline-list__item:first-child .timeline-list-item__line:before {
	content: '';
	display: block;
	width: 9px;
	height: 9px;
	background-color: #e1e1e1;
	border-radius: 2px;
	margin-left: -3px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-o-transform: rotate(-45deg);
}

.timeline-list__item:last-child .timeline-list-item-left__date-and-line-block:after,
.timeline-list__item:last-child .timeline-list-item-right__date-and-line-block:after {
	content: '';
	display: block;
	width: 9px;
	height: 9px;
	background-color: #e1e1e1;
	border-radius: 2px;
	position: absolute;
	left: 50%;
	margin-left: -5px;
	bottom: 0%;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-o-transform: rotate(-45deg);
}

.timeline-list-item_date {
	position: relative;
	margin-top: 40px;
	display: block;
	color: #2c3e50;
	font: 500 18px 'Roboto';
	background-color: #fff;
	line-height: 30px;
	z-index: 1;
}

.timeline-list__item_right {
	position: relative;
}

.timeline-list-item_right__block {
	float: right;
	background-color: #fff;
	width: 400px;
	border: 1px solid #eee;
	border-bottom: 3px double #eee;
	padding: 3% 3%;
	box-sizing: border-box;
	position: relative;
}

.timeline-list-item_right__block:before {
	content: '';
	display: block;
	position: absolute;
	width: 25px;
	height: 25px;
	border: 1px solid #eee;
	right: 384px;
	top: 40px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	-o-transform: rotate(-45deg);
	border-left: 3px double #eee;
	z-index: 2;
	background-color: #fff;
}

.timeline-list-item_right__block:after {
	content: '';
	display: block;
	position: absolute;
	width: 24px;
	height: 40px;
	background-color: #fff;
	right: 374px;
	top: 34px;
	z-index: 2;
}

.timeline-list-item-right__date-and-line-block {
	position: absolute;
	width: 160px;
	text-align: center;
	left: 50%;
	margin-left: -80px;
	top: 0;
	bottom: 0;
}

.timeline-list-item_left__block:hover,
.timeline-list-item_right__block:hover {
	background-color: #68c3a3;
	border-color: #57b393;
}

.timeline-list-item_left__block:hover:before,
.timeline-list-item_right__block:hover:before {
	background-color: #68c3a3;
	border-color: #57b393;
}

.timeline-list-item_left__block:hover:after,
.timeline-list-item_right__block:hover:after {
	background-color: #68c3a3;
}

.timeline-list-item_left__block:hover .timeline-list-item__title,
.timeline-list-item_left__block:hover .timeline-list-item__subtitle,
.timeline-list-item_left__block:hover .timeline-list-item__description,
.timeline-list-item_right__block:hover .timeline-list-item__title,
.timeline-list-item_right__block:hover .timeline-list-item__subtitle,
.timeline-list-item_right__block:hover .timeline-list-item__description  {
	color: white;
}

.timeline-list-item_left__block:hover + .timeline-list-item-left__date-and-line-block .timeline-list-item_date {
	color: #68c3a3;
}

.timeline-list-item_left__block:hover + .timeline-list-item-left__date-and-line-block .timeline-list-item__line {
	background-color: #68c3a3;
}

.timeline-list-item_right__block:hover + .timeline-list-item-right__date-and-line-block .timeline-list-item_date {
	color: #68c3a3;
}

.timeline-list-item_right__block:hover + .timeline-list-item-right__date-and-line-block .timeline-list-item__line,
.timeline-list-item_right__block:hover + .timeline-list-item-right__date-and-line-block:after,
.timeline-list-item_right__block:hover + .timeline-list-item-right__date-and-line-block .timeline-list-item__line:before,
.timeline-list-item_left__block:hover + .timeline-list-item-left__date-and-line-block:after,
.timeline-list-item_left__block:hover + .timeline-list-item-left__date-and-line-block .timeline-list-item__line:before {
	background-color: #68c3a3;
}*/

.skills-section {
	background-color: #1a1e23;
	position: relative;
	z-index: 0;
}

.section__title2_dark {
	font: 500 50px 'Roboto';
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

.linear_charts__column1 {
	width: 46%;
	margin-right: 4%;
	box-sizing: content-box;
	float: left;
}

.linear_charts__column2 {
	width: 46%;
	margin-left: 4%;
	box-sizing: content-box;
	float: left;
}

.linear_charts_list__item {
	font-size: 0;
	margin-bottom: 7%;
}

.linear_charts_list_item__label {
	display: inline-block;
	width: 30%;
	box-sizing: content-box;
	font: 400 16px 'Roboto';
	color: #fff;
}

.linear_charts_list_item__chartline {
	display: inline-block;
	width: 68%;
	margin-left: 2%;
	height: 10px;
	background-color: #3a4149;
	box-sizing: content-box;
	border-radius: 2px;
	position: relative;
}

.linear_charts_list_item-chartline__fill {
	border-radius: 2px 0 0 2px;
	background-color: #65c0a0;
	height: 100%;
}

.linear_charts_list_item__percent {
	color: #f1f1f1;
	font: 400 12px 'Roboto';
	position: absolute;
	bottom: 16px;
}

.linear_charts__column1 .linear_charts_list__item:nth-child(1) .linear_charts_list_item-chartline__fill {
	width: 80%;
}

.linear_charts__column1 .linear_charts_list__item:nth-child(1) .linear_charts_list_item__percent {
	left: 80%;
}

.linear_charts__column1 .linear_charts_list__item:nth-child(2) .linear_charts_list_item-chartline__fill {
	width: 95%;
}

.linear_charts__column1 .linear_charts_list__item:nth-child(2) .linear_charts_list_item__percent {
	left: 95%;
}

.linear_charts__column1 .linear_charts_list__item:nth-child(3) .linear_charts_list_item-chartline__fill {
	width: 95%;
}

.linear_charts__column1 .linear_charts_list__item:nth-child(3) .linear_charts_list_item__percent {
	left: 95%;
}

.linear_charts__column2 .linear_charts_list__item:nth-child(1) .linear_charts_list_item-chartline__fill {
	width: 75%;
}

.linear_charts__column2 .linear_charts_list__item:nth-child(1) .linear_charts_list_item__percent {
	left: 75%;
}

.linear_charts__column2 .linear_charts_list__item:nth-child(2) .linear_charts_list_item-chartline__fill {
	width: 95%;
}

.linear_charts__column2 .linear_charts_list__item:nth-child(2) .linear_charts_list_item__percent {
	left: 95%;
}

.linear_charts__column2 .linear_charts_list__item:nth-child(3) .linear_charts_list_item-chartline__fill {
	width: 40%;
}

.linear_charts__column2 .linear_charts_list__item:nth-child(3) .linear_charts_list_item__percent {
	left: 40%;
}

.linear_charts_list_item__percent {
	transform: translateX(-30%);
}

/*CIRCULAR CHARTS CSS*/

.circular-charts {
	font: 300 16px 'Roboto';
	color: #fff;
	text-align: justify;
}

.circular-charts:before{
    content: '';
    display: block;
    width: 100%;
    height: 0;
}
 
.circular-charts:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
}

.circular-charts__item {
	display: inline-block;
	text-align-last: center;
	text-align:center;
}

.progress-radial {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #68c3a3;
  clear: both;
  margin: 0 auto;
  margin-bottom: 15px;
}

.progress-radial .overlay {
  position: absolute;
  width: 90px;
  height: 90px;
  background-color: #1a1e23;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 5px;
  text-align: center;
  line-height: 90px;
  font-size: 16px;
}

.progress-80 {
  background-image: linear-gradient(18deg, #68c3a3 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0)), linear-gradient(270deg, #68c3a3 50%, #2f3439 50%, #2f3439);
}

.circular-charts__title {
	font: 300 16px 'Roboto';
	color: #fff;
}

.section__title3_dark {
	font: 500 24px 'Roboto';
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 30px 0;
}

/*CIRCULAR CHARTS CSS -- END*/

.works-section {
	background-color: #f7f7f7;
}

.works-section-menu {
	text-align: center;
	margin-bottom: 30px;
}

.works-section-menu__item {
	display: inline-block;
	color: #2c3e50;
	font: 400 14px 'Roboto';
	text-transform: uppercase;
	padding: 9px 16px;
	margin: 0 5px;
	position: relative;
	border-bottom: 3px solid rgba(255, 255, 255, 0.0);
}

.works-section-menu__item:hover {
	color: #ffffff;
	font: 400 14px 'Roboto';
	background-color: #68c3a3;
	border-radius: 3px;
	border-bottom: 3px solid #5eb898;
}

.works-section-menu__item:hover:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 4px 0 4px;
	border-color: #5eb898 transparent transparent transparent;
	position: absolute;
	top: 36px;
	left: 50%;
	margin-left: -3px;
}

.works-section-gallery {
	font-size: 0;
	margin: 0 -0.7%;
}

.works-section-gallery__item {
	display: inline-block;
	box-sizing: border-box;
	width: 23.6%;
	background-color: #fff;
	padding: 3px;
	margin: 0 0.7% 20px;
	border: 1px solid #eee;
	border-bottom: 3px double #eee;
}

.works-section-gallery__item img {
	width: 100%;
}

.experience-section {
	background-image: url(img/experience_back.png);
	background-size: cover;
	position: relative;
}

.experience-section-transparent {
	background-color: rgba(26, 30, 35, 0.8);
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 110%;
	z-index: 0;
	margin-left: -5%;
}

.experience-container {
	position: relative;
	z-index: 1;
	font-size: 0;
	text-align: center;
	margin: 2% auto;
}

.experience__item {
	display: inline-block;
	text-align: center;
	margin: 0 5%;
}

.experience__icon {
	font-size: 60px;
	color: #fff;
}

.experience__number {
	font: 500 45px 'Roboto';
	color: #fff;
	margin: 3% 0;
}

.experience__title {
	font: 500 16px 'Roboto';
	color: #fff;
	text-transform: uppercase;
}

.latest_posts_wrap {
	font-size: 0;
	margin: 0 -0.7%;
}

.latest_posts__item {
	display: inline-block;
	width: 31.93%;
	box-sizing: border-box;
	padding: 3px;
	border: 1px solid #eee;
	border-bottom: 3px double #eee;
	margin: 0 0.7%;
}

.latest_posts__share-button {
	position: absolute;
	left: 84%;
	top: -19px;
	display: block;
	background-color: #68c3a3;
	font-size: 20px;
	color: #fff;
	width: 40px;
	height: 40px;
	border-radius: 3px;
	line-height: 40px;
	text-align: center;
	-webkit-transform: rotate(-45deg); /* Chrome y Safari */
	-moz-transform: rotate(-45deg); /* Firefox */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); /* Internet Explorer */
	-o-transform: rotate(-45deg); /* Opera */
}

.latest_posts__share-button i {
	-webkit-transform: rotate(45deg); /* Chrome y Safari */
	-moz-transform: rotate(45deg); /* Firefox */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1); /* Internet Explorer */
	-o-transform: rotate(45deg); /* Opera */
}

.latest_posts__item img {
	width: 100%;
}

.post_content_wrap {
	width: 90%;
	margin: 0 auto;
	padding: 8% 0;
	position: relative;
}

.post_title {
	font: 500 12px 'Roboto';
	color: #68c3a3;
	text-transform: uppercase;
	margin-bottom: 5%;
}

.post_text {
	font: 500 16px 'Roboto';
	color: #282828;
	margin-bottom: 5%;
	line-height: 25px;
}

.post__divider {
	background-color: #eee;
	height: 1px;
	width: 100%;
	margin-bottom: 5%;
}

.post_info_wrap {
	font-size: 0;
	text-align-last: justify;
}

.post_info__item {
	font: 300 12px 'Roboto';
	color: #afafaf;
	display: inline-block;
}

.view-more_button {
	display: block;
	margin: 5% auto 0;
	width: 100px;
	background-color: #68c3a3;
	font: 500 14px 'Roboto';
	color: #fff;
	text-transform: uppercase;
	line-height: 40px;
	padding: 0 30px;
	text-align: center;
	border-radius: 5px;
	border-bottom: 3px solid #4eb28f;
}

.hire-section {
	background-image: url(img/hire-section/hire-section_back.png);
	background-size: cover;
	position: relative;
}

.hire-section-transparent {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 110%;
	margin-left: -5%;
	background: -moz-linear-gradient(top,  rgba(104,195,163,0.6) 0%, rgba(56,148,116,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(104,195,163,0.6) 0%,rgba(56,148,116,1) 100%);
	background: linear-gradient(to bottom,  rgba(104,195,163,0.6) 0%,rgba(56,148,116,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68C3A3', endColorstr='#389474',GradientType=0 );
	z-index: 0;
}

.tag-line {
	z-index: 1;
	position: relative;
	font: 500 30px 'Roboto';
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}

.get-hired_button {
	position: relative;
	display: block;
	margin: 3% auto 0;
	width: 100px;
	font: 500 14px 'Roboto';
	color: #fff;
	text-transform: uppercase;
	line-height: 40px;
	padding: 0 30px;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #fff;
}

.form-and-contacts_column {
	float: left;
	width: 48%;
}

.form-and-contacts_column.column2 {
	margin-left: 4%;
}

.form-title {
	font: 500 12px 'Roboto';
	text-transform: uppercase;
	color: #282828;
	margin-bottom: 40px;
}

.form-row {
	margin-bottom: 10px;
}

.form-label {
	font: 300 12px 'Roboto';
	color: #282828;
}

.form-input {
	background-color: #f7f7f7;
	border: 1px solid #eee;
	width: 100%;
	height: 36px;
	line-height: 36px;
	outline: none;
	font: 300 14px 'Roboto';
	box-sizing: border-box;
}

.form-textarea {
	width: 100%;
	background-color: #f7f7f7;
	border: 1px solid #eee;
	height: 8em;
	resize: none;
	outline: none;
	box-sizing: border-box;
	font: 300 14px 'Roboto';
	padding: 1% 3%;
	line-height: 20px;
}

.form-textarea:focus {
	border: 1px solid #68c3a3;
	padding: 9px 3%;
}

.form-input:focus {
	border: 1px solid #68c3a3;
	padding: 0% 3%;
}

.send_button {
	display: block;
	background-color: #68c3a3;
	font: 500 14px 'Roboto';
	color: #fff;
	text-transform: uppercase;
	line-height: 40px;
	padding: 0 30px;
	text-align: center;
	border: none;
	border-radius: 5px;
	border-bottom: 3px solid #4eb28f;
	margin-top: 30px;
}

.contacts_wrap_column {
	float: left;
	box-sizing: border-box;
	width: 48%;
}

.contacts-address {
	margin-right: 4%;
}

.contacts-address-icon {
	float: left;
	width: 10%;
	margin-right: 8%;
}

.contacts-phone .contacts-address-icon {
	width: 9%;
}

.contacts-address-text{
	float: left;
	width: 70%;
}

.contacts-title {
	font: 500 14px 'Roboto';
	text-transform: uppercase;
	line-height: 24px;
}

.contacts-text {
	font: 300 14px 'Roboto';
	line-height: 24px;
}

.contacts-map {
	margin-top: 50px;
	width: 100%;
	height: 246px;
	background-color: #eee;
}

.footer-section {
	background-color: #1a1e23;
	padding: 3% 0;
}

.footer-container {
	text-align: center;
}

.footer-text {
	font: 300 12px 'Roboto';
	color: #fff;
}










